In [3]:
import pandas as pd
df = pd.read_csv("HR_comma_sep.csv")
df.head(50)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
5,0.41,0.50,2,153,3,0,1,0,sales,low
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1.00,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low
10,0.45,0.54,2,135,3,0,1,0,sales,low
11,0.11,0.81,6,305,4,0,1,0,sales,low
12,0.84,0.92,4,234,5,0,1,0,sales,low
13,0.41,0.55,2,148,3,0,1,0,sales,low
14,0.36,0.56,2,137,3,0,1,0,sales,low
15,0.38,0.54,2,143,3,0,1,0,sales,low
16,0.45,0.47,2,160,3,0,1,0,sales,low
17,0.78,0.99,4,255,6,0,1,0,sales,low
18,0.45,0.51,2,160,3,1,1,1,sales,low
19,0.76,0.89,5,262,5,0,1,0,sales,low
20,0.11,0.83,6,282,4,0,1,0,sales,low
21,0.38,0.55,2,147,3,0,1,0,sales,low
22,0.09,0.95,6,304,4,0,1,0,sales,low
23,0.46,0.57,2,139,3,0,1,0,sales,low
24,0.40,0.53,2,158,3,0,1,0,sales,low
25,0.89,0.92,5,242,5,0,1,0,sales,low
26,0.82,0.87,4,239,5,0,1,0,sales,low
27,0.40,0.49,2,135,3,0,1,0,sales,low
28,0.41,0.46,2,128,3,0,1,0,accounting,low
29,0.38,0.50,2,132,3,0,1,0,accounting,low
30,0.09,0.62,6,294,4,0,1,0,accounting,low
31,0.45,0.57,2,134,3,0,1,0,hr,low
32,0.40,0.51,2,145,3,0,1,0,hr,low
33,0.45,0.55,2,140,3,0,1,0,hr,low
34,0.84,0.87,4,246,6,0,1,0,hr,low
35,0.10,0.94,6,255,4,0,1,0,technical,low
36,0.38,0.46,2,137,3,0,1,0,technical,low
37,0.45,0.50,2,126,3,0,1,0,technical,low
38,0.11,0.89,6,306,4,0,1,0,technical,low
39,0.41,0.54,2,152,3,0,1,0,technical,low
40,0.87,0.88,5,269,5,0,1,0,technical,low
41,0.45,0.48,2,158,3,0,1,0,technical,low
42,0.40,0.46,2,127,3,0,1,0,technical,low
43,0.10,0.80,7,281,4,0,1,0,technical,low
44,0.09,0.89,6,276,4,0,1,0,technical,low
45,0.84,0.74,3,182,4,0,1,0,technical,low
46,0.40,0.55,2,147,3,0,1,0,support,low
47,0.57,0.70,3,273,6,0,1,0,support,low
48,0.40,0.54,2,148,3,0,1,0,support,low
49,0.43,0.47,2,147,3,0,1,0,support,low